@charset "UTF-8";

  .bg-image-login section {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  @media (max-width: 1024px) {
    .bg-image-login section {
      background-size: 250vh; 
    }
  }